.user-table-container {
    padding: 20px;
    color: white;
    background: linear-gradient(to right, #1c3a56, #005f73);
  
    .search-bar {
      margin-bottom: 20px;
  
      input {
        width: 100%;
        padding: 8px 12px;
        border-radius: 4px;
        border: 1px solid #d9d9d9;
        background-color: #ffffff;
        color: #000000;
  
        &:focus {
          border-color: #00050a; // Blue border on focus
          box-shadow: 0 0 5px rgba(24, 144, 255, 0.5);
        }
  
        &::placeholder {
          color: #999999; // Lighter placeholder color
        }
  
        .anticon {
          color: #999999; // Icon color
        }
      }
    }
  
    .ant-table {
     
      border-radius: 8px;
      overflow: hidden;
  
      .ant-table-thead > tr > th {
        background-color: #00606c; // Header background
        color: rgb(9, 0, 0);
        font-size: 16px;
        text-align: center;
      }
  
      .ant-table-tbody > tr > td {
        border:1px solid #130b0b;
        color: rgb(254, 254, 254);
        font-size: 14px;
        text-align: center;
        background: linear-gradient(to right, #1c3a56, #005f73);

  
      }
  
      .ant-table-bordered {
        border-color: #060606;
      }
    }
  }
  
  // Mobile responsiveness
  @media screen and (max-width: 768px) {
    .user-table-container {
      padding: 10px;
  
      .search-bar {
        margin-bottom: 15px;
  
        input {
          padding: 6px 10px;
          font-size: 14px;
        }
      }
  
      .ant-table {
        font-size: 12px;
  
        .ant-table-thead > tr > th {
          font-size: 14px;
          padding: 8px;
        }
  
        .ant-table-tbody > tr > td {
          font-size: 12px;
          padding: 8px;
        }
      }
    }
  }
  